/* FONT */
@font-face {
	font-display: swap;
	font-family: 'Fraunces';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/fraunces-v31-latin-regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Fraunces';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/fraunces-v31-latin-900.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/barlow-v12-latin-regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/barlow-v12-latin-500.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/barlow-v12-latin-600.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/barlow-v12-latin-700.woff2') format('woff2');
}

/* CUSTOM PROPERTY */
:root {
	--color-dark-cyan: #0e8784;
	--color-dark-grey-blue: #333d4b;
	--color-pale-orange: #fdd6ba;
	--color-light-cream: #fefcf7;
	--color-grey: #83888f;
	--color-hover: #66d2cf;

	--second-family: 'Barlow', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	font-family: 'Fraunces', sans-serif;
	font-weight: 900;
	background-color: var(--color-light-cream);
}

main {
	flex-grow: 1;
}

.container {
	width: 100%;
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 15px;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	background-color: transparent;
}

/* HEADER START */
.site-header {
	padding-top: 32px;
	padding-bottom: 40px;
}

.site-header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-header__nav {
	display: none;
}

.site-header__nav-list {
	display: flex;
	gap: 33px;
	align-items: center;
}

.site-header__nav-link {
	font-weight: 700;
	font-size: 12px;
	line-height: 125%;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	color: var(--color-grey);
}

.site-header__menu-btn {
	background-color: transparent;
	border: none;
}

/* HIDDEN HEADER START */
.hidden-header {
	position: fixed;
	top: 90px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	background: linear-gradient(180deg, #fefcf7 30%, #fefcf780 100%);

	transform: translateY(-150%);
	transition: all 0.3s ease-in-out;
}

.hidden-header__wrapper {
	display: flex;
	justify-content: center;
	padding-top: 40px;
}

.hidden-header__list {
	display: flex;
	flex-direction: column;
	gap: 32px;
	text-align: center;
}

.hidden-header__link {
	font-size: 24px;
	line-height: 133%;
	color: var(--color-dark-grey-blue);
}

.hidden-header-show {
	transform: translateY(0);
}
/* HIDDEN HEADER END */

@media only screen and (min-width: 768px) {
	.site-header {
		padding-top: 40px;
		padding-bottom: 53px;
	}

	.site-header__logo-img {
		width: 236px;
		height: 26px;
	}

	.site-header__nav {
		display: block;
	}

	.site-header__menu-btn {
		display: none;
	}
}

@media only screen and (min-width: 1024px) {
	.site-header {
		padding-top: 43px;
		padding-bottom: 45px;
	}

	.site-header__logo-img {
		width: 234px;
		height: 24px;
	}

	.site-header__nav-link:hover {
		color: var(--color-dark-grey-blue);
	}
}
/* HEADER END */

/*----------------- MAIN START -----------------*/
.site-main {
}

/* HERO START */
.hero {
	padding-bottom: 120px;
}

.hero__wrapper {
	padding: 100px 24px;
	background-image: url('../images/hero-mobile-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 10px;
}

.hero__content {
	text-align: center;
}

.hero__title {
	margin-bottom: 24px;
	font-size: 40px;
	line-height: 100%;
	color: var(--color-light-cream);
}

.hero__desc {
	margin-bottom: 40px;
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 15px;
	line-height: 167%;
	color: var(--color-light-cream);
	opacity: 0.8;
}

.hero__btn {
	display: inline-block;
	padding: 15px 31px;
	border-radius: 6px;
	background-color: var(--color-dark-cyan);

	font-size: 18px;
	line-height: 139%;
	color: var(--color-light-cream);
}

@media only screen and (min-width: 768px) {
	.hero__wrapper {
		padding: 104px 58px;
		background-image: url('../images/hero-tablet-bg.jpg');
	}

	.hero__content {
		width: 100%;
		max-width: 398px;
		text-align: left;
	}

	.hero__title {
		font-size: 48px;
	}
}

@media only screen and (min-width: 1024px) {
	.hero__wrapper {
		padding: 117px 85px;
		background-image: url('../images/hero-desktop-bg.jpg');
	}

	.hero__content {
		max-width: 493px;
	}

	.hero__title {
		margin-bottom: 32px;
		font-size: 72px;
	}

	.hero__desc {
		margin-bottom: 56px;
		font-size: 16px;
	}

	.hero__btn:hover {
		background-color: var(--color-hover);
	}
}
/* HERO END */

/* OUR COLLECTION START */
.our-collection {
	padding-bottom: 120px;
}

.our-collection__title {
	font-size: 40px;
	line-height: 180%;
	text-align: center;
	color: var(--color-grey);

	background-image: linear-gradient(180deg, #fefcf700 0%, #fefcf7 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-color: var(--color-grey);

	margin-bottom: 13px;
}

.our-collection__list {
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.our-collection__item {
	text-align: center;
}

.our-collection__item-img {
	margin-bottom: 24px;
}

.our-collection__item-title {
	font-size: 24px;
	line-height: 133%;
	color: var(--color-dark-grey-blue);
	margin-bottom: 16px;
}

.our-collection__item-desc {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 15px;
	line-height: 167%;
	color: var(--color-dark-grey-blue);
}
/* OUR COLLECTION END */
/*----------------- MAIN END -----------------*/
